<div class="container min-vh-100">
  <div class="carousel-styles position-relative">
    <div class="single-item py-5">
      <div class="carousel"><img src="./assets/images/img1.png" class="img-fluid" alt="teapot1"></div>
    </div>
  </div>

  <div class="faq col-lg-8 mx-auto">
    <h2 class="text-center fw-bold p-5">Ответы на часто задаваемые вопросы</h2>
    <ngb-accordion [closeOthers]="true">
      <ngb-panel id="static-1" title="Собираете ли вы подарочные боксы?">
        <ng-template ngbPanelContent>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2" title="Сколько у вас разновидностей чая?">
        <ng-template ngbPanelContent>У нас есть более сотни сортов на любой вкус!
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3" title="В какой срок осуществляется доставка?">
        <ng-template ngbPanelContent>Не более двух рабочих дней.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-4" title="У вас обновляется ассортимент?">
        <ng-template ngbPanelContent>Каждый месяц у нас появляются новые сорта чая.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-5" title="Какого объема у вас пачки чая?">
        <ng-template ngbPanelContent>Есть упаковки чая массой 100 грамм, 250 грамм и 500 грамм.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-body text-center mt-5">
    <div class="mb-4 text-primary h5">Посмотрите наши чайные коллекции!</div>
  </div>
  <a class="btn btn-primary py-2 mb-5 mx-5" (click)="modal.dismiss()" routerLink="/catalogue">Смотреть</a>
</ng-template>
