<div class="container min-vh-100">
  <div class="carousel-styles position-relative">
    <div class="single-item py-5">
      <div class="carousel"><img src="./assets/images/img1.png" class="img-fluid" alt="teapot1"></div>
    </div>
  </div>

  <div class="faq col-lg-8 mx-auto">
    <h2 class="text-center fw-bold p-5">Ответы на часто задаваемые вопросы</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingOne">
          <div class="accordion-button accordion-button bg-primary bg-gradient text-white rounded-3"
               data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
               aria-controls="collapseOne">
            Собираете ли вы подарочные боксы?
          </div>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </div>
        </div>
      </div>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingTwo">
          <div class="accordion-button collapsed accordion-button bg-primary bg-gradient text-white rounded-3"
               data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
               aria-controls="collapseTwo">
            Сколько у вас разновидностей чая?
          </div>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            У нас есть более сотни сортов на любой вкус!
          </div>
        </div>
      </div>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingThree">
          <div class="accordion-button collapsed accordion-button bg-primary bg-gradient text-white rounded-3"
               data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
               aria-controls="collapseThree">
            В какой срок осуществляется доставка?
          </div>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Не более двух рабочих дней.
          </div>
        </div>
      </div>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header">
          <div class="accordion-button collapsed accordion-button bg-primary bg-gradient text-white rounded-3"
               data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
               aria-controls="collapseFour">
            У вас обновляется ассортимент?
          </div>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Каждый месяц у нас появляются новые сорта чая.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <div class="accordion-button collapsed accordion-button bg-primary bg-gradient text-white rounded-3"
               data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
               aria-controls="collapseFive">
            Какого объема у вас пачки чая?
          </div>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Есть упаковки чая массой 100 грамм, 250 грамм и 500 грамм.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="popup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center mt-5">
        <div class="mb-4 text-primary h5">Посмотрите наши чайные коллекции!</div>
      </div>
      <a class="btn btn-primary py-2 mb-5 mx-5" data-bs-dismiss="modal" routerLink="/catalogue">Смотреть</a>
    </div>
  </div>
</div>
